### projection model => project points per player  
- [ ]    Basic Stats  
- [ ]    Usage  
- [ ]    Percentage of team scoring  
- [ ]    Injuries  
- [ ]    Bye week
- [ ]    Injuries to Key Teammates
- [ ]    Individual Matchups
- [ ]    Opposing Team (record, defense, injuries, etc.)
- [ ]    Home/Away
- [ ]    Weather
- [ ]    Expert Picks
- [x]    Other Fantasy Projections

### selection mechanism => choose optimal team within parameters
- [ ]    maximize value (pts/salary)
- [x]    Linear Optimization
    - Inspiration: https://github.com/breeko/Fantasy_LP/blob/master/fantasy_lp_final.ipynb

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
year = 2023
week = 13

# This Week

## Rotowire

In [16]:
# https://www.rotowire.com/daily/nfl/dfs-opportunities.php?site=DraftKings  # choose full slate
def rotowire_csv(filepath):
    df = pd.read_csv(filepath)
    df.rename(columns={'PLAYER': 'name', 'POS': 'pos', 'SAL': 'salary', 'FPTS': 'prediction'}, inplace=True)
    df.loc[df['pos']=='D', 'pos'] = 'Def'
    df = df[['name','pos','salary','prediction']]
    return df
    
rdf = rotowire_csv(f"{year}_fantasy_data/week{week}_rotowire-NFL-projected-roster-percent.csv")
rdf

                name pos  salary  prediction
0         Geno Smith  QB    5400       15.93
1     Baker Mayfield  QB    5500       16.30
2       Dak Prescott  QB    7200       20.96
3    Trevor Lawrence  QB    6600       18.47
4          Zack Moss  RB    4600       12.98
..               ...  ..     ...         ...
490   Juwann Winfree  WR    3000        0.00
491        Zach Wood  TE    2500        0.00
492      Andrew Beck  RB    4000        0.00
493      Cooper Rush  QB    4500        0.00
494    Nikko Remigio  WR    3000        0.00

[495 rows x 4 columns]

In [17]:
len(rdf[rdf['pos']=='Def'])

26

## Antonio's Official Data

In [50]:
sal_dir = f"/Users/adamschiller/OneDrive - BOOZ ALLEN HAMILTON/Weekly Salary Data"
df = pd.read_csv(f"{sal_dir}/week{week}_salaries.csv")

def format_antonio_salary_data(df):
    df.rename(columns={'player': 'name', 'dk_salary': 'salary', 'fantasy_score': 'prediction'}, inplace=True)
    df.loc[df['pos']=='DST', 'pos'] = 'Def'
    df = df[['name','pos','salary','prediction']]
    return df

adf = format_antonio_salary_data(df)
adf

                name pos  salary  prediction
0     Baker Mayfield  QB    5500       16.30
1         Geno Smith  QB    5400       16.00
2          Zack Moss  RB    4600       12.68
3         Sam Howell  QB    6200       17.05
4    Trevor Lawrence  QB    6600       18.31
..               ...  ..     ...         ...
489        Zach Wood  TE    2500        0.00
490      Andrew Beck  RB    4000        0.00
491      Cooper Rush  QB    4500        0.00
492      Sean McKeon  TE    2500        0.00
493    Nikko Remigio  WR    3000        0.00

[494 rows x 4 columns]

In [27]:
len(adf[adf['pos']=='Def'])

26

## Daily Fantasy Fuel

In [51]:
# map defense names for dff based on rotowire names
def defense_mapping(df):
    return {n.split(' ')[-1]: n for n in df[df['pos']=='Def']['name']}

defense_map = defense_mapping(adf)

def apply_defense_map(x):
    try:
        return defense_map[x]
    except KeyError:
        return x

In [55]:
# https://www.dailyfantasyfuel.com/nfl/projections/
def dff_csv(filepath):
    df = pd.read_csv(filepath)
    df['name'] = df['first_name']+' '+df['last_name']
    df.rename(columns={'position': 'pos', 'ppg_projection': 'prediction'}, inplace=True)
    # fix names for defenses based on mapping created by rotowire data above
    df.loc[df['pos']=='DST', 'name'] = df['first_name'].apply(lambda x: apply_defense_map(x))
    df.loc[df['pos']=='DST', 'pos'] = 'Def'
    df = df[['name','pos','injury_status','salary','prediction']]
    return df

dff = dff_csv(f"{year}_fantasy_data/DFF_NFL_cheatsheet_week{week}.csv")
dff

                   name pos injury_status  salary  prediction
0           Tyreek Hill  WR           NaN    9600        24.7
1          Dak Prescott  QB           NaN    7200        23.3
2           Jalen Hurts  QB           NaN    8200        23.2
3        Tua Tagovailoa  QB           NaN    7900        22.2
4           CeeDee Lamb  WR           NaN    8900        22.2
..                  ...  ..           ...     ...         ...
334       Elijah Dotson  RB           NaN    4000         0.1
335      Isaiah Spiller  RB           NaN    4000         0.1
336          Zach Evans  RB           NaN    4000         0.1
337  Tyrion Davis-Price  RB           NaN    4000         0.1
338      Tony Jones Jr.  RB           NaN    4000         0.1

[339 rows x 5 columns]

In [56]:
len(dff[dff['pos']=='Def'])

26

## Merge sources

In [54]:
def merge_sources(df1, df2):
    df = df1.merge(df2[['name','injury_status','prediction']], on='name', how='inner', suffixes=('_df1', '_df2'))
    df = df[df['injury_status'].isna()]
    df = df[(df['prediction_df1']>0)&(df['prediction_df2']>0)]
    df['prediction'] = df[['prediction_df1', 'prediction_df2']].mean(axis=1)
    df['pred_diff'] = abs(df['prediction_df1']-df['prediction_df2'])
    df.drop(columns=['injury_status'], inplace=True)  #,'prediction_df1','prediction_df2'
    return df

In [57]:
df = merge_sources(adf, dff)
df

,name,pos,salary,prediction_df1,prediction_df2,prediction,pred_diff
1,Geno Smith,QB,5400,16.00,15.2,15.600,0.80
2,Zack Moss,RB,4600,12.68,8.1,10.390,4.58
3,Sam Howell,QB,6200,17.05,19.3,18.175,2.25
4,Trevor Lawrence,QB,6600,18.31,20.0,19.155,1.69
5,Dak Prescott,QB,7200,19.96,23.3,21.630,3.34
...,...,...,...,...,...,...,...
295,Davis Allen,TE,2500,0.13,0.6,0.365,0.47
296,Craig Reynolds,RB,4000,0.43,0.7,0.565,0.27
300,Dare Ogunbowale,RB,4000,0.08,0.8,0.440,0.72
303,JaMycal Hasty,RB,4000,0.17,0.1,0.135,0.07
307,Godwin Igwebuike,RB,4000,0.06,0.6,0.330,0.54

In [58]:
df.sort_values('pred_diff', ascending=False)

,name,pos,salary,prediction_df1,prediction_df2,prediction,pred_diff
244,Taysom Hill,TE,5200,2.67,9.3,5.985,6.63
160,Derrick Henry,RB,6800,11.06,16.0,13.530,4.94
234,Royce Freeman,RB,4500,2.71,7.4,5.055,4.69
11,Brock Purdy,QB,6100,16.02,20.7,18.360,4.68
2,Zack Moss,RB,4600,12.68,8.1,10.390,4.58
...,...,...,...,...,...,...,...
265,Julian Hill,TE,2500,0.72,0.7,0.710,0.02
271,Blake Bell,TE,2500,0.38,0.4,0.390,0.02
164,Washington Commanders,Def,2300,3.41,3.4,3.405,0.01
242,C.J. Uzomah,TE,2500,1.59,1.6,1.595,0.01
227,Cordarrelle Patterson,RB,4100,2.99,3.0,2.995,0.01

In [39]:
df['pos'].value_counts()

pos
WR     101
RB      71
TE      57
Def     26
QB      22
Name: count, dtype: int64

# Top Projected per Pos

In [22]:
def avg_per_dollar(df, col):
    df['Avg Value'] = df[col] / (df['salary'] / 1000)
    return df.sort_values('Avg Value', ascending=False)

pdf = avg_per_dollar(df, 'prediction')

In [23]:
top_QBs = pdf[pdf.pos=='QB']
top_QBs.head(5)

,name,pos,salary,prediction_rdf,prediction_dff,prediction,pred_diff,Avg Value
82,Joshua Dobbs,QB,5900,15.34,27.5,21.420,12.16,3.630508
76,Justin Fields,QB,7000,19.03,29.3,24.165,10.27,3.452143
1,Dak Prescott,QB,6800,20.69,22.5,21.595,1.81,3.175735
0,Brock Purdy,QB,6100,18.51,19.0,18.755,0.49,3.074590
70,Baker Mayfield,QB,5500,16.15,16.3,16.225,0.15,2.950000

In [24]:
top_RBs = pdf[pdf.pos=='RB']
top_RBs.head(5)

,name,pos,salary,prediction_rdf,prediction_dff,prediction,pred_diff,Avg Value
2,Zach Charbonnet,RB,5300,14.81,14.0,14.405,0.81,2.717925
9,Christian McCaffrey,RB,8700,20.70,23.6,22.150,2.90,2.545977
8,Tony Pollard,RB,6700,16.36,16.3,16.330,0.06,2.437313
103,Rachaad White,RB,6100,13.99,15.7,14.845,1.71,2.433607
197,Khalil Herbert,RB,5100,9.54,14.8,12.170,5.26,2.386275

In [25]:
top_WRs = pdf[pdf.pos=='WR']
top_WRs.head(5)

,name,pos,salary,prediction_rdf,prediction_dff,prediction,pred_diff,Avg Value
126,DJ Moore,WR,6000,13.34,21.1,17.22,7.76,2.870000
81,Drake London,WR,5000,12.82,13.1,12.96,0.28,2.592000
79,Rashid Shaheed,WR,4300,11.38,10.7,11.04,0.68,2.567442
145,Jordan Addison,WR,5700,11.80,16.8,14.30,5.00,2.508772
18,CeeDee Lamb,WR,8700,19.44,23.5,21.47,4.06,2.467816

In [26]:
top_TEs = pdf[pdf.pos=='TE']
top_TEs.head(5)

,name,pos,salary,prediction_rdf,prediction_dff,prediction,pred_diff,Avg Value
7,Jake Ferguson,TE,3900,9.69,10.9,10.295,1.21,2.639744
85,Evan Engram,TE,4200,10.66,11.1,10.880,0.44,2.590476
102,T.J. Hockenson,TE,5800,13.45,14.5,13.975,1.05,2.409483
14,Logan Thomas,TE,3500,7.99,8.2,8.095,0.21,2.312857
164,Trey McBride,TE,4700,9.24,12.4,10.820,3.16,2.302128

In [27]:
# players[players.Pos == 'Def'].head(3)
top_Defs = pdf[pdf.pos=='Def']
top_Defs.head(5)

,name,pos,salary,prediction_rdf,prediction_dff,prediction,pred_diff,Avg Value
83,Kansas City Chiefs,Def,3100,8.18,8.7,8.440,0.52,2.722581
115,Miami Dolphins,Def,3500,8.01,9.7,8.855,1.69,2.530000
99,Denver Broncos,Def,3200,7.72,8.4,8.060,0.68,2.518750
95,Minnesota Vikings,Def,3200,7.67,7.8,7.735,0.13,2.417187
92,New England Patriots,Def,3200,7.61,7.7,7.655,0.09,2.392187

# Team Selection

$$\begin{aligned} 
objective &= maximize\ team\ points \\ 
team\ salary &\leq salary\ cap \\
team &= 1\ QB + (2|3)\ RB + (3|4)\ WR + (1|2)\ TE + 1\ DEF \\
team &\leq 9\ total\ players \\
\end{aligned}$$

In [39]:
# %pip install pulp

In [12]:
from pulp import *

class PulpSelection():
    def __init__(self, df, pts_col="prediction", sal_col="salary", name_col="name", salary_cap=50000):
        self.df = df
        self.vars = self.populate_vars(pts_col, sal_col, name_col)
        self.model = self.optimize(salary_cap)
        self.players = self.player_names()
        self.selection = self.selection_df()
        
    def populate_vars(self, pts_col, sal_col, name_col):
        df = self.df
        salaries = {}
        points = {}
        for pos in df.pos.unique():
            available_pos = df[df.pos == pos]
            salary = list(available_pos[[name_col,sal_col]].set_index(name_col).to_dict().values())[0]
            point = list(available_pos[[name_col,pts_col]].set_index(name_col).to_dict().values())[0]
            salaries[pos] = salary
            points[pos] = point
            
        self.salaries = salaries
        self.points = points
        return {k: LpVariable.dict(k, v, cat="Binary") for k, v in points.items()}

    def player_names(self):
        players = {}
        for d in self.vars.values():
            for k,v in d.items():
                players[v] = k
        return players
            
    pos_num_available = {
        "QB": 1,
        "RB": 2,
        "WR": 3,
        "TE": 1,
        "Def": 1
    }

    def optimize(self, salary_cap):
        prob = LpProblem("FFModel", LpMaximize)
        rewards = []
        costs = []

        for pos, players in self.vars.items():
            costs += lpSum([self.salaries[pos][i] * self.vars[pos][i] for i in players])
            rewards += lpSum([self.points[pos][i] * self.vars[pos][i] for i in players])
            if pos in ['RB','WR','TE']:
                prob += lpSum([self.vars[pos][i] for i in players]) <= self.pos_num_available[pos]+1
                prob += lpSum([self.vars[pos][i] for i in players]) >= self.pos_num_available[pos]
            else:
                prob += lpSum([self.vars[pos][i] for i in players]) == self.pos_num_available[pos]
        prob += lpSum(prob.variables()) == 9    # flex -> max of 9 total players

        prob += lpSum(rewards)
        prob += lpSum(costs) <= salary_cap
        print(prob.solve())
        return prob
    
    def selection_df(self):
        selections = [self.players[p] for p in self.model.variables() if p.varValue > 0]
        team = self.df[self.df.name.isin(selections)]
        return team

In [40]:
# 2023 version
pts_col = 'prediction'
model = PulpSelection(df, pts_col=pts_col)
team = model.selection

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /usr/local/Caskroom/miniconda/base/envs/default/lib/python3.10/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/cv/pyjmd76x58dbyxrhzycj6c880000gp/T/bd6fc0ab30c24216b93ce0066accd609-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/cv/pyjmd76x58dbyxrhzycj6c880000gp/T/bd6fc0ab30c24216b93ce0066accd609-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 15 COLUMNS
At line 1907 RHS
At line 1918 BOUNDS
At line 2196 ENDATA
Problem MODEL has 10 rows, 277 columns and 1060 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 124.445 - 0.00 seconds
Cgl0004I processed model has 7 rows, 268 columns (268 integer (268 of which binary)) and 804 elements
Cutoff increment increased from 1e-05 to 0.004995
Cbc0038I Initial state - 2 integers unsatisfied sum - 0.285714
Cbc0038I Pass   1: suminf.    0.12121 (2) obj. -124.155 iterations 4
Cbc0038I Solution found of -105.405
Cbc0038I Before mini branch and bound, 264 integers at bound fixed and 0 continuous
Cbc0038I Full problem 7 rows 268 columns, reduced to 3 rows 4 columns
Cbc0038I Mini branch and bound improved solution from -105.405 to -118.925 (0.02 seconds)
Cbc0038I Round again with cutoff of -119.481
Cbc0038I Reduced cost fixing fixed 67 variables on major pass 2
Cbc0038I Pass   2: suminf.    0.12121 (2) obj. -124.155 iterations 0
Cbc0038I Pass   3: suminf.    0.58953 (2) obj. -119.481 iterations 3
Cbc0038I Pass   4: suminf.    1.19818 (4) obj. -119.481 iterations 17
Cbc0038I Pass   5: suminf.    0.18182 (2) obj. -119.61 iterations 6
Cbc0038I Pass   6: suminf.    0.19474 (2) obj. -119.481 iterations 5
Cbc0038I Pass   7: suminf.    1.11453 (4) obj. -119.481 iterations 17
Cbc0038I Pass   8: suminf.    0.09978 (2) obj. -119.481 iterations 4
Cbc0038I Pass   9: suminf.    0.88182 (3) obj. -119.481 iterations 7
Cbc0038I Pass  10: suminf.    0.50778 (2) obj. -119.481 iterations 2
Cbc0038I Pass  11: suminf.    0.81507 (4) obj. -119.481 iterations 11
Cbc0038I Pass  12: suminf.    0.27824 (3) obj. -119.481 iterations 8
Cbc0038I Pass  13: suminf.    0.50093 (2) obj. -119.481 iterations 6
Cbc0038I Pass  14: suminf.    0.45455 (3) obj. -119.481 iterations 6
Cbc0038I Pass  15: suminf.    0.45888 (2) obj. -119.481 iterations 6
Cbc0038I Pass  16: suminf.    1.01417 (4) obj. -119.481 iterations 12
Cbc0038I Pass  17: suminf.    0.24242 (3) obj. -119.481 iterations 5
Cbc0038I Pass  18: suminf.    0.26105 (2) obj. -119.481 iterations 4
Cbc0038I Pass  19: suminf.    0.45730 (3) obj. -119.481 iterations 8
Cbc0038I Pass  20: suminf.    1.51361 (4) obj. -119.481 iterations 13
Cbc0038I Pass  21: suminf.    0.93031 (2) obj. -119.481 iterations 3
Cbc0038I Pass  22: suminf.    0.95385 (3) obj. -119.481 iterations 8
Cbc0038I Pass  23: suminf.    0.96205 (2) obj. -119.481 iterations 3
Cbc0038I Pass  24: suminf.    0.96205 (2) obj. -119.481 iterations 0
Cbc0038I Pass  25: suminf.    0.46255 (4) obj. -119.481 iterations 10
Cbc0038I Pass  26: suminf.    0.08191 (2) obj. -119.481 iterations 6
Cbc0038I Pass  27: suminf.    1.00000 (3) obj. -119.481 iterations 6
Cbc0038I Pass  28: suminf.    0.42140 (3) obj. -119.481 iterations 1
Cbc0038I Pass  29: suminf.    0.42140 (3) obj. -119.481 iterations 0
Cbc0038I Pass  30: suminf.    0.93942 (3) obj. -119.481 iterations 5
Cbc0038I Pass  31: suminf.    0.93942 (3) obj. -119.481 iterations 0
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 231 integers at bound fixed and 0 continuous
Cbc0038I Full problem 7 rows 268 columns, reduced to 7 rows 37 columns
Cbc0038I Mini branch and bound improved solution from -118.925 to -123.665 (0.03 seconds)
Cbc0038I Round again with cutoff of -123.825
Cbc0038I Reduced cost fixing fixed 232 variables on major pass 3
Cbc0038I Pass  31: suminf.    0.12500 (2) obj. -124.39 iterations 1
Cbc0038I Pass  32: suminf.    0.19737 (2) obj. -123.825 iterations 3
Cbc0038I Pass  33: suminf.    1.00000 (3) obj. -123.825 iterations 11
Cbc0038I Pass  34: suminf.    0.92172 (3) obj. -123.825 iterations 4
Cbc0038I Pass  35: suminf.    0.66096 (3) obj. -123.825 iterations 3
Cbc0038I Pass  36: suminf.    0.19737 (2) obj. -123.825 iterations 6
Cbc0038I Pass  37: suminf.    0.12500 (2) obj. -124.39 iterations 4
Cbc0038I Pass  38: suminf.    0.19737 (2) obj. -123.825 iterations 2
Cbc0038I Pass  39: suminf.    1.08360 (4) obj. -123.825 iterations 6
Cbc0038I Pass  40: suminf.    0.20588 (2) obj. -123.825 iterations 4
Cbc0038I Pass  41: suminf.    0.73872 (4) obj. -123.825 iterations 10
Cbc0038I Pass  42: suminf.    0.73872 (4) obj. -123.825 iterations 1
Cbc0038I Pass  43: suminf.    0.71546 (3) obj. -123.825 iterations 7
Cbc0038I Pass  44: suminf.    0.70706 (3) obj. -123.825 iterations 2
Cbc0038I Pass  45: suminf.    0.12766 (2) obj. -124.115 iterations 4
Cbc0038I Pass  46: suminf.    0.05913 (2) obj. -123.825 iterations 3
Cbc0038I Pass  47: suminf.    0.93188 (3) obj. -123.825 iterations 4
Cbc0038I Pass  48: suminf.    0.86769 (4) obj. -123.825 iterations 9
Cbc0038I Pass  49: suminf.    0.50368 (3) obj. -123.825 iterations 3
Cbc0038I Pass  50: suminf.    0.54558 (2) obj. -123.825 iterations 2
Cbc0038I Pass  51: suminf.    1.00000 (3) obj. -123.825 iterations 6
Cbc0038I Pass  52: suminf.    0.82502 (3) obj. -123.825 iterations 2
Cbc0038I Pass  53: suminf.    0.03125 (2) obj. -124.156 iterations 3
Cbc0038I Pass  54: suminf.    0.07369 (2) obj. -123.825 iterations 2
Cbc0038I Pass  55: suminf.    0.46099 (3) obj. -123.825 iterations 9
Cbc0038I Pass  56: suminf.    0.18929 (3) obj. -123.825 iterations 5
Cbc0038I Pass  57: suminf.    0.19251 (2) obj. -123.825 iterations 3
Cbc0038I Pass  58: suminf.    0.69246 (3) obj. -123.825 iterations 6
Cbc0038I Pass  59: suminf.    0.62223 (3) obj. -123.825 iterations 12
Cbc0038I Pass  60: suminf.    0.22866 (2) obj. -123.825 iterations 7
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 247 integers at bound fixed and 0 continuous
Cbc0038I Full problem 7 rows 268 columns, reduced to 5 rows 21 columns
Cbc0038I Mini branch and bound improved solution from -123.665 to -124.07 (0.04 seconds)
Cbc0038I Round again with cutoff of -124.186
Cbc0038I Reduced cost fixing fixed 251 variables on major pass 4
Cbc0038I Pass  60: suminf.    0.22857 (2) obj. -124.373 iterations 3
Cbc0038I Pass  61: suminf.    0.90246 (3) obj. -124.186 iterations 4
Cbc0038I Pass  62: suminf.    1.00000 (3) obj. -124.186 iterations 3
Cbc0038I Pass  63: suminf.    0.52632 (2) obj. -124.314 iterations 3
Cbc0038I Pass  64: suminf.    0.28571 (2) obj. -124.35 iterations 2
Cbc0038I Pass  65: suminf.    0.87672 (3) obj. -124.186 iterations 4
Cbc0038I Pass  66: suminf.    0.82051 (2) obj. -124.425 iterations 3
Cbc0038I Pass  67: suminf.    0.57143 (2) obj. -124.381 iterations 2
Cbc0038I Pass  68: suminf.    0.60139 (2) obj. -124.186 iterations 2
Cbc0038I Pass  69: suminf.    0.81650 (2) obj. -124.186 iterations 2
Cbc0038I Pass  70: suminf.    0.81228 (3) obj. -124.186 iterations 3
Cbc0038I Pass  71: suminf.    0.81650 (2) obj. -124.186 iterations 2
Cbc0038I Pass  72: suminf.    0.43846 (2) obj. -124.186 iterations 4
Cbc0038I Pass  73: suminf.    0.36450 (2) obj. -124.186 iterations 1
Cbc0038I Pass  74: suminf.    0.45465 (3) obj. -124.186 iterations 4
Cbc0038I Pass  75: suminf.    0.74783 (2) obj. -124.186 iterations 4
Cbc0038I Pass  76: suminf.    0.74783 (2) obj. -124.186 iterations 1
Cbc0038I Pass  77: suminf.    0.92857 (2) obj. -124.206 iterations 3
Cbc0038I Pass  78: suminf.    0.92554 (2) obj. -124.186 iterations 2
Cbc0038I Pass  79: suminf.    0.74783 (2) obj. -124.186 iterations 3
Cbc0038I Pass  80: suminf.    0.40934 (3) obj. -124.186 iterations 8
Cbc0038I Pass  81: suminf.    0.37149 (3) obj. -124.186 iterations 2
Cbc0038I Pass  82: suminf.    0.90733 (3) obj. -124.186 iterations 4
Cbc0038I Pass  83: suminf.   1
 0.75067 (2) obj. -124.186 iterations 3
Cbc0038I Pass  84: suminf.    0.89912 (3) obj. -124.186 iterations 3
Cbc0038I Pass  85: suminf.    0.89912 (3) obj. -124.186 iterations 2
Cbc0038I Pass  86: suminf.    0.85714 (2) obj. -124.201 iterations 5
Cbc0038I Pass  87: suminf.    0.40000 (2) obj. -124.294 iterations 4
Cbc0038I Pass  88: suminf.    0.40000 (2) obj. -124.294 iterations 0
Cbc0038I Pass  89: suminf.    0.78920 (3) obj. -124.186 iterations 4
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 258 integers at bound fixed and 0 continuous
Cbc0038I Full problem 7 rows 268 columns, reduced to 3 rows 10 columns
Cbc0038I Mini branch and bound did not improve solution (0.04 seconds)
Cbc0038I After 0.04 seconds - Feasibility pump exiting with objective of -124.07 - took 0.02 seconds
Cbc0012I Integer solution of -124.07 found by feasibility pump after 0 iterations and 0 nodes (0.04 seconds)
Cbc0038I Full problem 7 rows 268 columns, reduced to 3 rows 6 columns
Cbc0031I 6 added rows had average density of 11
Cbc0013I At root node, 6 cuts changed objective from -124.445 to -124.17849 in 15 passes
Cbc0014I Cut generator 0 (Probing) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 1 (Gomory) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 2 (Knapsack) - 19 row cuts average 6.8 elements, 0 column cuts (0 active)  in 0.003 seconds - new frequency is 1
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 16 row cuts average 12.3 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is 1
Cbc0014I Cut generator 5 (FlowCover) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 6 (TwoMirCuts) - 45 row cuts average 13.6 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0010I After 0 nodes, 1 on tree, -124.07 best solution, best possible -124.17849 (0.05 seconds)
Cbc0001I Search completed - best objective -124.07, took 221 iterations and 18 nodes (0.06 seconds)
Cbc0032I Strong branching done 114 times (318 iterations), fathomed 4 nodes and fixed 10 variables
Cbc0035I Maximum depth 3, 261 variables fixed on reduced cost
Cuts at root node changed objective from -124.445 to -124.178
Probing was tried 15 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 15 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
Knapsack was tried 42 times and created 49 cuts of which 0 were active after adding rounds of cuts (0.008 seconds)
Clique was tried 15 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 42 times and created 23 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
FlowCover was tried 15 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 15 times and created 45 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                124.07000000
Enumerated nodes:               18
Total iterations:               221
Time (CPU seconds):             0.05
Time (Wallclock seconds):       0.06

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.05   (Wallclock seconds):       0.07

In [59]:
print("\nTotal points: {}     Total salary: {}\n".format(sum(team[pts_col]), sum(team['salary'])))
team

Total points: 124.07000000000001     Total salary: 50000

,name,pos,salary,prediction_df1,prediction_df2,prediction,pred_diff
5,Dak Prescott,QB,7200,19.96,23.3,21.630,3.34
6,Zach Charbonnet,RB,5300,14.07,11.7,12.885,2.37
16,Elijah Moore,WR,3500,8.88,7.6,8.240,1.28
18,Evan Engram,TE,4500,11.29,11.7,11.495,0.41
20,Jacksonville Jaguars,Def,3400,8.09,8.6,8.345,0.51
25,Marquise Brown,WR,5200,12.46,11.5,11.980,0.96
26,Najee Harris,RB,5200,12.69,13.0,12.845,0.31
42,Tony Pollard,RB,6800,14.93,17.4,16.165,2.47
69,CeeDee Lamb,WR,8900,18.77,22.2,20.485,3.43

## Save Picks to CSV

In [60]:
my_dir = f"{year}_weekly_picks/"
grp_dir = f"/Users/adamschiller/OneDrive - BOOZ ALLEN HAMILTON/Weekly Team Picks/Week {format(week, '02d')}/"
fname = f"Adam_week{week}_picks.csv"

# save version in each location
for dir in [my_dir, grp_dir]:
    team[['pos','name','salary']].to_csv(dir+fname, index=False)

# Optimal Picks per Week

In [19]:
# salary + scoring
df = df.join(week_df[['name', 'fpts']].set_index('name'), on='name')
df

                 name pos  salary  prediction   fpts
0     Patrick Mahomes  QB    8100      25.420  21.34
1          Joe Burrow  QB    6300      20.025  14.80
2     Trevor Lawrence  QB    6500      20.465  15.74
4          Sam Howell  QB    5500      16.570  18.34
5        Dak Prescott  QB    6200      18.470    NaN
..                ...  ..     ...         ...    ...
351    Jason Brownlee  WR    3000       0.225    NaN
354    Brandon Bolden  RB    4000       0.365    NaN
355       Davis Allen  TE    2500       0.195    NaN
356        Mike Boone  RB    4000       0.580   1.10
369  Khari Blasingame  RB    4500       0.280   1.10

[312 rows x 5 columns]

In [20]:
def show_optimal_picks(df, pts_col='fpts', sal_col='salary'):
    week = df.dropna()
    model = PulpSelection(week, pts_col=pts_col)
    team = model.selection
    print("\nTotal points: {}     Total salary: {}\n".format(sum(team[pts_col]), sum(team[sal_col])))
    return team

In [21]:
show_optimal_picks(df)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /usr/local/Caskroom/miniconda/base/envs/default/lib/python3.10/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/cv/pyjmd76x58dbyxrhzycj6c880000gp/T/277c43891ee94cf3b082240ccce60552-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/cv/pyjmd76x58dbyxrhzycj6c880000gp/T/277c43891ee94cf3b082240ccce60552-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 15 COLUMNS
At line 1690 RHS
At line 1701 BOUNDS
At line 1952 ENDATA
Problem MODEL has 10 rows, 250 columns and 947 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 242.62 - 0.00 seconds
Cgl0004I processed model has 7 rows, 230 columns (230 integer (226 of which binary)) and 690 elements
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -242.62
Cbc0038I Cleaned solution of -242.62
Cbc0038I Before mini branch and bound, 230 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.00 seconds)
Cbc0038I After 0.00 seconds - Feasibility pump exiting with objective of -242.62 - took 0.00 seconds
Cbc0012I Integer solution of -242.62 found by feasibility pump after 0 iterations and 0 nodes (0.00 seconds)
Cbc0001I Search completed - best objective -242.62, took 0 iterations and 0 nodes (0.00 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -242.62 to -242.62
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                242.62000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

1

Total points: 242.62     Total salary: 54900

                 name  pos  salary  prediction   fpts
11       Drake London   WR    4800      12.345  24.50
28         Jared Goff   QB    6400      16.830  25.42
63     Raheem Mostert   RB    6400      15.740  37.20
67        Cooper Kupp   WR    9000      20.780  30.80
69     Kyren Williams   RB    6500      15.255  24.80
88        Tyreek Hill   WR    9300      22.715  31.30
90       Adam Thielen   WR    5900      13.610  31.50
92  Minnesota Vikings  Def    3000       6.075  21.00
97     Dalton Schultz   TE    3600       8.195  16.10